<%- include('partials/header.ejs') %>
<div class="container">
    <h1 style="text-align: center;">Booking Successful</h1>
    <h3 style="text-align: center;">Booking Details</h3>
    <table class="table">
        <thead>
            <tr class="table-secondary">
                <th>Flight_id</th>
                <th>Source</th>
                <th>Destination</th>
                <th>Date</th>
                <th>Time</th>
                <th>Seats</th>
                <th>Total_Cost</th>
            </tr>
        </thead>
        <tbody>
            <tr class="table-primary">
                <td><%=flightid%></td>
                <td><%=Source%></td>
                <td><%=Destination%></td>
                <td><%=date1%></td>
                <td><%=time%></td>
                <td><%=seats%></td>
                <td><%=(fare*seats)%></td>
            </tr>
        </tbody>
    </table>
    <h3 style="text-align: center;">User Details</h3>
    <table class="table">
        <thead>
            <tr class="table-secondary">
                <th>User_id</th>
                <th>Name</th>
                <th>Age</th>
                <th>Gender</th>
                <th>MobileNumber</th>
            </tr>
        </thead>
        <tbody>
            <tr class="table-primary">
                <td><%=userid%></td>
                <td><%=currentUser%></td>
                <td><%=age%></td>
                <td><%=gender%></td>
                <td><%=mobnum%></td>
            </tr>
        </tbody>
    </table>
    <br>
    <a href="/" class="btn btn-info" role="button">Home</a>
</div>

<%- include('partials/footer.ejs') %>
